@media (max-width:1100px) {
    .main__inner__bottom2 {
        font-size: 110px !important;
    }

    .grayscale {
        max-width: 522px !important;
        height: 582px !important;
    }
}

@media (max-width: 1000px) {
    .main__inner__bottom2 {
        font-size: 104px !important;
    }

    .section_2_inner_bottom {
        gap: 150px !important;
    }

    .grayscale {
        max-width: 480px !important;
    }
}

@media (max-width: 990px) {
    .main__inner__bottom2 {
        font-size: 70px !important;
    }

    .grayscale {
        max-width: 430px !important;
        height: 582px !important;
    }
}

@media (max-width:900px) {
    .main__inner__bottom {
        font-size: 112px !important;
    }

    .section__inner__top p {
        font-size: 22px !important;
        line-height: 31.49px;
        width: 838px !important;
    }

    .grayscale {
        max-width: 427px !important;
        height: 569px !important;
    }

    .section_2_inner_bottom {
        gap: 100px !important;
    }

}

@media(max-width:700px) {
    .main__inner__bottom1 {
        font-size: 20px;
    }

    .main__inner__bottom {
        font-size: 86px !important;
    }

    .main__inner__top1 {

        font-size: 23px;
    }

    .logo img {
        width: 129px;
        height: 182px;
    }

    .section__inner__top p {
        font-size: 21px !important;
        line-height: 31.49px;
        width: 641px !important;
    }

    .main__inner__bottom2 {
        font-size: 61px !important;
    }

    .grayscale {
        max-width: 330px !important;
        height: 453px !important;
    }

    .section__logo {
        width: 230px;
        height: 462px;
    }

    .section_2_inner_bottom {
        gap: 67px !important;
    }

    .section_2_inner_bottom1 {
        gap: 70px !important;
    }

    .section__logo {
        width: 240px !important;
        height: 430px;
    }

}



@media(max-width:600px) {
    .main__inner__bottom1 {
        font-size: 17px !important;
    }

    .main__inner__bottom {
        font-size: 73px !important;
    }

    .main__inner__top1 {
        font-size: 21px !important;
    }

    .logo img {
        width: 129px;
        height: 182px;
    }

    .section__inner__top p {
        font-size: 14px !important;
        line-height: 31.49px;
        width: 500px !important;

    }

    .main__inner__bottom2 {
        font-size: 40px !important;
    }

    .grayscale {
        max-width: 277px !important;

        height: 415px !important;

    }

    .section__logo {
        width: 210px !important;
        height: 400px !important;
    }

    .section_2_inner_bottom {
        gap: 40px !important;
    }

    .section_2_inner_bottom1 {
        gap: 70px !important;
    }

    .section__logo {
        /* width: 240px !important; */
        height: 430px;
    }

    .video {
        height: 43vh !important;
    }

    .foto__inner img {
        max-width: 248px !important;
    }

    .first__foto {
        gap: 37px !important;
    }

    .info {
        font-size: 20px !important;
    }
}


@media(max-width:500px) {
    .main__inner__bottom1 {
        font-size: 12px !important;
    }

    .main__inner__bottom {
        font-size: 59px !important;
    }

    .main__inner__top1 {
        font-size: 19px !important;
    }

    .logo img {
        width: 108px !important;
        height: 139px !important;
    }

    .section__inner__top p {
        font-size: 14px !important;
        line-height: 31.49px;
        width: 390px !important;

    }

    .main__inner__bottom2 {
        font-size: 40px !important;
    }

    .grayscale {
        max-width: 230px !important;
        height: 290px !important;


    }

    .section__logo {
        width: 169px !important;
        height: 276px !important;
    }

    .section_2_inner_bottom {
        gap: 40px !important;
    }

    .section_2_inner_bottom1 {
        gap: 70px !important;
    }

    .section__logo {
        /* width: 240px !important; */
        height: 430px;
    }

    .video {
        height: 43vh !important;
    }

    .foto__inner img {
        max-width: 207px !important;
    }

    .first__foto {
        gap: 37px !important;
    }

    .info {
        font-size: 20px !important;
    }

    .main {
        height: 606px !important;
    }

    .main__inner__top1 {
        margin-top: 110px !important;
    }
}

@media(max-width:400px) {
    .main__inner__bottom {
        font-size: 45px !important;
    }

    .main__inner__top1 {
        font-size: 17px !important;
    }

    .main__inner__bottom1 {
        font-size: 10px !important;
    }

    .section__inner__top p {
        width: 315px !important;
    }

    .main__inner__bottom2 {
        font-size: 28px !important;
    }

    .grayscale {
        max-width: 180px !important;
        height: 244px !important;
    }

    .section__logo {
        width: 138px !important;
        height: 239px !important;
    }

    .section_2_inner_bottom {
        gap: 27px !important;
    }

    .video {
        height: 25vh !important;
    }

    .first__foto {
        gap: 17px !important;
    }

    .foto__inner img {
        max-width: 167px !important;
    }
}

@media (max-width:380px) {
    .foto__inner img {
        max-width: 152px !important;
    }

    .grayscale {
        max-width: 170px !important;
        height: 244px !important;
    }

    .section_2_inner_bottom1 {
        gap: 23px !important;
    }

}

@media (max-width:355px) {
    .main__inner__top1 {
        font-size: 13px !important;
    }

    .main__inner__bottom {
        font-size: 41px !important;
    }

    .main__inner__bottom1 {
        font-size: 9px !important;
    }

    .grayscale {
        max-width: 155px !important;
        height: 216px !important;
    }

    .section__logo {
        width: 118px !important;
        height: 210px !important;
    }

    .section_2_inner_bottom {
        gap: 24px !important;
    }

    .foto__inner img {
        max-width: 142px !important;
    }

    .main1 {
        height: 56vh;
    }

}

@media (max-width:320px) {
    .main__inner__top1 {
        font-size: 12px !important;
    }

    .logo img {
        width: 97px !important;
        height: 123px !important;
    }

    .main__inner__bottom {
        font-size: 36px !important;
    }

    .main__inner__bottom1 {
        font-size: 7px !important;
    }

    .section__inner__top p {
        width: 277px !important;
    }

    .grayscale {
        max-width: 140px !important;
        height: 192px !important;
    }

    .section__logo {
        width: 93px !important;
        height: 187px !important;
    }

    .video {
        height: 18vh !important;
    }

    .foto__inner img {
        max-width: 123px !important;
    }

    .info {
        font-size: 17px !important;
    }

}